html {
  background-color: bisque;
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

.navbar {
  margin-bottom: 40px;
  background-color: white;
}

.resume {
  width: 1000px;
}
