html {
  background-color: bisque;
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

.header {
  margin-bottom: 35px;
}

/* Navbar Styling */
.navbar {
  padding: 15px 20px;
  margin-bottom: 15px;
  position: relative;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 45px;
}

/* Navbar links styling */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
}

.nav-links li:hover a {
  color: #bd5d38;
}

#homeButton a {
  color: #000;
}

#homeButton:hover a {
  color: #bd5d38;
}

/* Hamburger menu styles */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: #000;
  transition: transform 0.3s ease;
}

.bar.open {
  transform: translateY(11px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* Media Query for small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links a {
    color: bisque;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-icon {
    display: flex;
  }
}
