html {
  background-color: bisque;
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

#navBrand {
  font-size: 35px;
}

.navbar {
  width: 100%;
  margin-bottom: 32px;
  font-size: 24px;
}

#navContainer .container {
  margin: 0;
  max-width: 100%;
  justify-content: space-between;
}

.nav-link {
  text-align: end;
}

.resume {
  width: 1000px;
}

.header {
  margin-bottom: 35px;
}
